<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around m-5 text-center text-white">
        <h2>The place to store all your favourite recipes</h2>
        <h4>Just upload everything you need - name, ingredients and procedure along with an image</h4>
        <a href="/login" class="col-3 btn btn-primary mt-5 text-center"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary mt-5 text-center"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>