<%- include('partials/header') -%>

    <main class="container d-flex justify-content-center mt-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title fw-bold fs-3">The place to store all your favourite recipes</h5>
                <p class="card-text mt-5">Just upload everything you need - name, ingredients and procedure along with
                    an image</p>
                <a href="/login"
                    class="col-3 btn btn-primary mt-5 text-center w-auto d-flex justify-content-center fw-bold">
                    Login</a>
                <a href="/signup"
                    class="col-3 btn btn-primary mt-5 text-center w-auto d-flex justify-content-center fw-bold">
                    Signup</a>
            </div>
        </div>
    </main>


    <%- include('partials/footer') -%>