<%- include('partials/header') -%>
<main class="container">
  <div class="row justify-content-center">
      <section class="col-6 mt-5">
          <% if (locals.messages.errors) { %>
              <% messages.errors.forEach( el => { %>
                  <div class="alert alert-danger"><%= el.msg %></div>
              <% }) %>    
          <% } %>
          <% if (locals.messages.info) { %>
              <% messages.info.forEach( el => { %>
                  <div class="alert alert-info"><%= el.msg %></div>
              <% }) %>    
          <% } %>
          <form action="/login" method="POST">
            <div class="mb-3 mt-5 text-center">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email"
              />
              <div id="emailHelp" class="form-text text-black">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3 mt-5 text-center">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="password"
              />
              <p id="emailHelp" class="form-text text-black">Password needs to be 8 Characters long</p>
            </div>
              <button type="submit" class="btn btn-primary fw-bold mt-5">Submit</button>
            </form>
      </section>
  </div>
</main>

<%- include('partials/footer') -%>
