.body {
    background-color: #d8f3dc;
}

.title a{
    color: #081c15;
    font-size: 4rem;
    font-weight: 800;
    text-decoration: none;
}

.underTitle {
    color: #1b4332;
    font-weight: 600;
    font-size: 1rem;
}

.footer {
    background-color: #d8f3dc;
    color: #081c15;
}

a {
    text-decoration: none;
    color: #081c15;
    font-weight: 600;
}

.btn {
    background-color: #40916c;
}

.headings {
    font-weight: 600;
    font-size: 2.5rem;
}

.card{
    background-color: #d8f3dc;
    border-color: #d8f3dc;
}

.list-group-item{
    background-color: #d8f3dc;
    border-color: #d8f3dc;
}